<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Post</title>
</head>
<body>
{% extends "base.html" %}

{% block page_content %}
<div class="col-md-8 offset-md-2">
    <hr>
    {% for post in posts %}
    <h2><a href="{% url 'post_detail' post.pk%}">{{ post.title }}</a></h2>
    <small>
        {{ post.created_on.date }} |&nbsp; {{post.updated_on.date}}
    </small>
    <p>{{ post.text_body | slice:":400" }}...</p>
    <h4>Author Name : {{post.user.get_full_name}} </h4>
    {% endfor %}
</div>
{% endblock %}
</body>
</html>
